@import "tailwindcss";

:root {
  --primary: #6A1B9A;
  --background: #F3E5F5;
  --text: #4A148C;
  --border: #D1C4E9;
  --white: #FFFFFF;
  --textLight: #BA68C8;
  --card: #FFFFFF;
  --shadow: #000000;
}

html {
  font-family: "Inter", "sans-serif";
}

body {
  background: var(--background);
}

button {
  touch-action: manipulation;
  transition-property: opacity translate scale;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 0.2s;
}
button:active {
  opacity: 0.8;
  transform: translateY(0.5px) scale(0.98);
}

.touch-opacity {
  touch-action: manipulation;
  transition-property: opacity translate scale;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 0.2s;
}

.touch-opacity:active {
  opacity: 0.8;
  transform: translateY(0.5px);
}
